# Environment
.env

# JetBrains IDE
.idea

# WordPress files
wp-app/

# Plugin files
!wp-app/wp-content/plugins/meilisearch-for-woocommerce/**

# Plugin files which need to be excluded
wp-app/wp-content/plugins/meilisearch-for-woocommerce/assets/admin/css/*.css
wp-app/wp-content/plugins/meilisearch-for-woocommerce/assets/admin/css/*.css.map
wp-app/wp-content/plugins/meilisearch-for-woocommerce/vendor
