# Everything
*

# Root directory
!.gitignore
!.env.example
!README.md
!docker-compose.yml

# PHP config
!config
!config/php.conf.ini

# Plugin folder
!wp-app
!wp-app/wp-content/
!wp-app/wp-content/plugins
!wp-app/wp-content/plugins/meilisearch-for-woocommerce
!wp-app/wp-content/plugins/meilisearch-for-woocommerce/**

# Plugin folder exceptions
wp-app/wp-content/plugins/meilisearch-for-woocommerce/vendor
wp-app/wp-content/plugins/meilisearch-for-woocommerce/assets/admin/css/*.css
wp-app/wp-content/plugins/meilisearch-for-woocommerce/assets/admin/css/*.css.map